:root {
  --primary-color: #455d7a;
  --secondary-color: #dbd8e3;
  --third-color: #e3e3e3;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font-family: "Roboto Condensed", sans-serif;
  --heading-font-family: "Shadows Into Light", cursive;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  color: var(--third-color);
}

h1 {
  font-size: 96px;
  font-family: var(--heading-font-family);
}

h2 {
  font-size: 48px;
  display: block;
  font-family: var(--primary-font-family);
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  font-family: var(--primary-font-family);
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: black;
}

.body {
  background: #212529;
  color: var(--third-color);
}
.container {
  text-align: center;
  display: block;
  font-family: var(--primary-font-family);
  background: #233142;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--third-color);
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.btn-branding {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: black;
}
.btn-branding-outline {
  color: var(--third-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

@media (max-width: 768px) {
  h1,
  h2,
  h3 {
    text-align: center;
  }
}
